.lives {
    padding-top: 10px;

    .go-home {
        color:#ef5c3b;
        margin: 8px 0 0 10px;
        float: left;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
    }

    .head-more,
    .head-close {float: right; line-height: 30px; padding-right: 8px; white-space: nowrap; cursor: pointer;}
    .head-more i,
    .head-close i {float: left; margin: 12px 6px 0 0; display: inline-block; width: 15px; height: 8px;}
    .head-more i{background: url('./img/arr-d.png') no-repeat;}
    .head-close i {background: url('./img/arr-u.png') no-repeat;}

    .filter-btn-container {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;

        .filter-btn-group{
            margin: 2px 0;
            position: relative;
            padding: 0 40px 0 60px;
            line-height: 24px;

            .filter-title{
                font-weight: 400;
                position: absolute;
                left: 0;
                top: 0;
            }

            a {
                color: #888;
                padding: 0 3px;
                &.active {
                    color: #f40;
                }
            }

            .all {
                color: #000;
                &:hover {
                    color: #f40;
                }
            }
        }
    }

    .order-btn-group {
        margin: 20px 0;
        font-family: "Microsoft YaHei",SimHei,sans-serif;
        a {
            padding: 5px 12px;
            color: #666;
            border-radius: 2px;

            &.on {        
                background: #f5563c;
                color: #fff;
            }
        }
    }

    .empty-info{
        display: block;
        text-align: center;
        font-size: 20px;
        margin-bottom: 50px;
        font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    }

    .recommend-tit {
        font-size: 20px;
        margin: 10px 0;
        display: block;
    }
}

/* 适配 */
@mixin screen-s () {
    .filter-btn-container {display: none;}
    .head-more {display: block;}
    .head-close {display: none;}
}

@mixin screen-m () {
    .filter-btn-container {display: block;}
    .head-more {display: none;}
    .head-close {display: block;}
}

@mixin screen-l () {
    .filter-btn-container {display: block;}
    .head-more {display: none;}
    .head-close {display: block;}
}

@include screen-s();
@media only screen and (min-width: 990px) {@include screen-m();}
@media only screen and (min-width: 1250px) {@include screen-l();}

/* 不支持媒体查询的 用js实现 */
.screen-0 {@include screen-s();}
.screen-1 {@include screen-m();}
.screen-2 {@include screen-l();}